@page
@model HolaWEB.App.Frontend.Pages.ListModel
@{
}
<div class="text-center">
    <h1 class="display-4">Listado de Saludos</h1>
</div>

<table class="table">
    <thead>
        @foreach(var saludo in Model.ListaSaludos){
            <tr>
                <td>@saludo</td>
            </tr>
        }
    </thead>
</table>
