@page
@model HEnCasa.App.Presentacion.Page.CrearModel
@{
    ViewData["Title"] = "Formulario nuevo paciente";
}

<div class="text-center">
    <h1>Formulario para nuevo paciente</h1>
</div>

<form method="post">
    <div class="form-group">
        <label asp-for="paciente.Nombre"></label>
        <input asp-for="paciente.Nombre" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="paciente.Apellidos"></label>
        <input asp-for="paciente.Apellidos" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="paciente.Telefono"></label>
        <input asp-for="paciente.Telefono" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="paciente.Genero"></label>
        <input asp-for="paciente.Genero" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="paciente.Direccion"></label>
        <input asp-for="paciente.Direccion" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="paciente.Longitud"></label>
        <input asp-for="paciente.Longitud" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="paciente.Latitud"></label>
        <input asp-for="paciente.Latitud" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="paciente.Ciudad"></label>
        <input asp-for="paciente.Ciudad" class="form-control">
    </div>
    <div class="form-group">
        <label>Fecha de nacimiento</label>
        <input asp-for="paciente.FechaNacimiento" class="form-control">
    </div>
</form>
