@page
@model HEnCasa.App.Presentacion.Page.EliminarPacienteModel
@{
    ViewData["Title"] = "Eliminar paciente";
}

<form method="post">
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>