@page
@model HEnCasa.App.Presentacion.Page.PacienteModel
@{
    ViewData["Title"] = "Listado de pacientes";
}

<div class="text-center">
    <h1>Lista de pacientes</h1>
</div>

<a class="btn btn-primary" asp-page="./Crear">Ingresar nuevo paciente</a><br><br>

<table class = "table">
    <thead></thead>
        <tr>
            <th scope = 'col'>Nombre</th>
            <th scope = 'col'>Apellidos</th>
            <th scope = 'col'>Telefono</th>
        </tr>
    </thead>
    @foreach (var item in Model.ListaPacientes){
        <tr>
            <td>@item.Nombre</td>
            <td>@item.Apellidos</td>
            <td>@item.Telefono</td>
        </tr>
    }
